@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #030014;
    color: white;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container {
    max-width: 1530px;
    margin: 0 auto;
    position: relative;
}

.bg-color-1 {
    position: absolute;
    height: 500px;
    width: 500px;
    left: 300px;
    top: 0px;
    background-color:#243FE2;
    z-index: -10; 
    filter: blur(300px);
    opacity: .4;
}

.bg-color-2 {
    position: absolute;
    height: 500px;
    width: 500px;
    right: 300px;
    top: 0px;
    background-color:#A524E2;
    z-index: -20;
    filter: blur(100px);
    opacity: .4;

}



/* navbar code start hare */

.navbar{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 30px;

    & .logo{
        font-size: 36px;
        font-weight: 700;
        color: aqua to tomato;
        background:linear-gradient(to right,#243FE2 ,#E224DB);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & ul{
        padding: 15px 20px;
        outline: none;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #FFFFFF33;
    }
    & li{
        margin: 0 20px;

        & a{
            font-size:16px ;
            font-weight: 400;
            text-transform: capitalize;
            color: #ffffff;
            transition: all .5s;
        }
        & .active , a:hover{
            color: #E224DB;
        } 
    }

    & .log-book-div{
        display: flex;
        align-items: center;
        justify-content: center;

        & .login{
            outline: none;
            border: none;
            background: none;
            color: white;
            font-size:16px ;
            transition: .5s;
            margin-right: 20px;
            cursor: pointer;
        }
        & .login:hover{
            color: #E224DB;
        }
        & .book-now{
            background: #030014;
            color: white;
            font-weight: 700;
            font-size: 16px;
            width: 120px;
            height: 50px;
            border: none;
            position: relative;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        & .book-now::after{
            content: "";
            position: absolute;
            width: 104%;
            height: 104%;
            background-image: linear-gradient(to right , #243FE2 ,#E224DB) ;
            border-radius:50px ;
            z-index: -1;
            
        }
        & .book-now:hover{
            z-index: 0;
        }
    }
}

/* hero-area code start here */


.hero-area{
    height: 65vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & p{
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 400;

        & span{
            padding: 5px 15px;
            background-color: #E224DB;
            border-radius: 25px;
            text-transform: capitalize;
            margin-right: 6px;
        }
        & i{
            font-size: 16px;
        }
    }
    & h1{
        font-size: 60px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }
    & h4{
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 28px;
        text-align: center;
        line-height: 25px;
        margin-bottom: 30px;
    }
    & button{
        padding: 13px 18px;
        border: none;
        border-radius: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: white;
        cursor: pointer;
    }
    & button::after{
        content: "";
        width: 104%;
        height: 110%;
        position: absolute;
        background-image: linear-gradient(to right , #243FE2 ,#E224DB);
        border-radius: 50px;
        z-index: -1;
    }
    & button:hover{
        background-color: #030014;
    }

}


.content-container{
     max-width: 1600px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 80px;
     margin-top: 100px;
}

.rectangle{
    position: relative;
    & table{
       min-width: 800px;
       border-collapse: collapse;
       background-color: #151515;
       & td , th{ 
            border-top: 1px solid #282828;
            padding: 20px 10px;
            text-align: left;
            font-size: 14px;
            position: relative;

            & .edit-icon{
                color: #383fbd;
                position: relative;
                margin-left: 4px;
                cursor: pointer;
            }
            & .edit-icon::after{
                content: "";
                position: absolute;
                height: 2px;
                bottom: -5px;
                right: 0;
                width: 15px;
                background-color: #383fbd;
            }
            & p{
                font-size: 13px;
                font-weight: 300;
                color:#868686 ;
            }
            & span{
                color:#868686 ;
            }
       }

       & th{
          font-weight: 500;
          color:#868686 ;
           & i{
             margin-left: 10px ;
           }
       }
       & .left-border::after{
           content: "";
           position: absolute;
           width: 1px;
           height: 40px;
           background-color: #3f3f3f;
           left: -10px;
           top: 20px;
       }
       & .th-left-border::after{
           content: "";
           position: absolute;
           width: 1px;
           height: 30px;
           background-color: #3f3f3f;
           left: -10px;
           top: 17px;
       }
       & tr:first-child{
            background-color: #2b2b2b;
        }
    }

}

.rectangle-color{
    width: 400px;
    height: 400px;
    background-color:#E224DB ;
    position: absolute;
    left: -100px;
    top: -100px;
    filter:blur(100px);
    opacity: .4;
    z-index: -1 ;
}






.green{
    color: rgb(0, 192, 0);
}
.fine-tuned{
    text-align: left;
    margin-left: 20px;
    & h2{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    & p{
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 300;
    }
    & h4{
        & a{
            font-size: 30px;
            color : #e500f4;
            margin-top: 50px;
            font-weight: 400;

            & i{
                margin-left: 20px;
            }
        }
    }
}
